
.find_content{
    margin-top: 40px;
    display: flex;
    height: 80vh;
    flex-direction: column;
    align-items: center;
    position: relative;

}
.find_form input{
    margin: 0;
    margin-right: -3px;
}
.m_input{
    width: 300px;
}

.popular_container{
    margin: 100px;
}

.popular_table{
    margin-top: 30px;
    display: inline-block;
    background-color: #d9d9d9;
    border: none;
    border-spacing: 0px;
    border-collapse: collapse;
}

.popular_head {
    background-color: white;
}
.popular_head th{
    font-weight: 400;
    background-color: white;
    padding: 10px 20px;
}
.popular_content td{
    padding: 10px 20px;
    font-weight: 600;
}

a{
    color: black;
}

a:hover{
    color: rgba(255, 255, 255, 0.678);
}
/* .popular_content{
    background-color: #d9d9d9;
} */
.popular_bg{
    background-color: #d9d9d9;
}