{%extends "base.html"%}
{%load static%} <!--Adding css-->
{%load custom_filters%}
{%block css_creating%}<link rel="stylesheet" href="{%static 'main_page/css/creating.css'%}"> {%endblock %}<!--Adding css-->>
{%block title%} Creation {%endblock %}
{%block h1%} Creation {%endblock %}
{%block content%} 
    <p class="m_subtitle">Fill fields </p>
    <form action="/creating_saving/" method="post" class="m_form"> <!--range is a custom filter-->
         {% csrf_token %}
         <p class='m_text'>Click private btn if you don't want to share your dictionary</p>
         <input type="radio" name="owner" id="global" value="global" checked>
         <label for="global" class="m_text">Global</label>
          <input type="radio" name="owner" id="private" value="private">
          <label for="private" class="m_text">Private</label>
        <br>
        <input class="m_input" type="text" name = "dict_name" placeholder="list name">
        <button class="m_btn" type="button"><span id="add" class="material-symbols-outlined">add</span></button>
        <div class="lang_name">
            <!-- <h3>Names of the languages</h3> -->
            <input name='lang_from'class="m_input" type="text" id="lang_from" maxlength="2" placeholder="example: EN" oninput="this.value = this.value.toUpperCase()">
            <input name='lang_to' class="m_input" type="text" id="lang_to" maxlengt='2' placeholder="example: RU" oninput="this.value = this.value.toUpperCase()">
        </div>
        <p class='m_text m_error'>{{Error_message}}</p>
        <div id="words">
            <div class="word_field">
                <input class="m_input" type="text" placeholder="your word" name="word_0" value="">
                <input class="m_input" type="text" placeholder ="translation"name="trans_0" value="">
                <button class='m_btn m_delete' id="remove" type='button' name='delete_0'><span class='material-symbols-outlined'>remove</span></button>
            </div>
            {{more_fields}} 
        </div>
        <input type="submit" class='btn save' value="Save">
    </form>
    <button id="delete" class="btn">Delete</button>

<script type="text/javascript" src="{%static 'main_page/js/creating.js'%}"></script>


{%endblock %}
