{%extends "base.html"%}
{%load static%} <!--Adding css-->
{%load custom_filters%}
{%block css_creating%}<link rel="stylesheet" href="{%static 'main_page/css/repeating.css'%}"> {%endblock %}<!--Adding css-->>
{%block title%} Repeating {%endblock %}
{%block h1%} Repeating {%endblock %}
{%block content%} 

<body onload="randomizer()">
    <div class="repeating-container">
        <span style="display: none;" id="dict_name">{{dict_name}}</span>
        <span style="display: none;" id="target_dict">{{target_dict}}</span>
    <span id="fin"></span>
    <progress class="progress-bar" max="100"></progress>
    <div class="m_text">Translate word: <span id="question_word"></span></div>
    <input class="m_input" type="text" id="ans" onkeypress="enter_cheсk(event)" oninput="check_answer()">
    <span class="btn" id="correct_flag" style="display: none;" onclick="correcting()">I was right</span>
    <!-- <button class="btn" onclick="check_answer()">Check</button> -->
     <div id="ans_res"></div>
     <span class="btn" id="swithing_words" onclick="swithcing_words()">Switch words' sides</span>
    </div>
    
    
</body>
    <script src="{%static 'main_page/js/repeating.js'%}"></script>

{%endblock %}