{%load static%}
<link rel="stylesheet" href="{%static 'css/base.css'%}">
<nav class="nav">
    <ul>
        <li><a class="nav_links" href="../">Main page</a></li>
        <li><a class="nav_links" href="/finding/">Find</a></li>
        <li><a class="nav_links" href="/creating/">Create</a></li>
        <li><a class="nav_links" href="/speedtraining/">Speed</a></li>
        <li><a class="nav_links" href="/login/profile/">Profile</a></li>
        <li><a class="nav_links" href="/login/">Sign out</a></li>
    </ul>
    
</nav>