
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Finding</title>
</head>
<body>
    <header>
        <div><h1>Finding</h1></div>
        {%include "includes/navbar.html" %}
    </header>
    <div>
        <form action="/searching/" method="post">
            {% csrf_token %}
            <p>Print the list's name which you wanna find</p>
            <input type="text" value="" name="searching">
            <input type="submit" value="Find">
        </form>
        <p>{{search_result}}</p>
    </div>
    <div>
        <p>or choose your list from this list:</p>
        <ul>
            {%for list in all_lists%}
            <li ><a href="/finding/{{list}}" class="lists" id="list{{list}}">{{list}}</a></li>
            {%endfor%}
        </ul>
    </div>
</body>
</html>