{%extends "base.html"%}
{%load static%} <!--Adding css-->
{%load custom_filters%}
{%block css_creating%}<link rel="stylesheet" href="{%static 'users/css/profile.css'%}"> {%endblock %}<!--Adding css-->>
{%block title%} Profile {%endblock %}
{%block h1%} Profile {%endblock %}
{%block content%} 
<div id="profile_info">
        <div id="profile_names">
            <span class="pr_name">Email:</span>
            <span class="pr_name">Nickname:</span>
            <span class="pr_name">Password:</span>
            <span class="pr_name">First name:</span>
            <span class="pr_name">Last name:</span>
        </div>
        <form action="/profile_changing/" method="post">
            <div id="profile_forms">
                <input type="text" class="pr_forms" id='email'  value="{{email}}">
                <input type="text" class="pr_forms" id='username' value="{{username}}">
                <input type="text" class="pr_forms" id='password' value="*****">
                <input type="text" class="pr_forms" id='first_name' value="{{first_name}}">
                <input type="text" class="pr_forms" id='last_name' value="{{last_name}}">
        </div>
        </form>
    </div>
    </div>
    
<script type="text/javascript" src="{%static 'users/js/profile.js'%}"></script>


{%endblock %}