{%extends "base.html"%}
{%load static%} <!--Adding css-->
{%load custom_filters%}
{%block css_creating%}<link rel="stylesheet" href="{%static 'users/css/profile.css'%}"> {%endblock %}<!--Adding css-->>
{%block title%} Profile {%endblock %}
{%block h1%} Profile {%endblock %}

{%block content%} 
<body onload="tr_check('followed_dicts');tr_check('own_dicts')">
<div id="profile_info">
        <div id="profile_names">
            <span class="pr_name">Email:</span>
            <span class="pr_name">Nickname:</span>
            <span class="pr_name">Password:</span>
            <span class="pr_name">First name:</span>
            <span class="pr_name">Last name:</span>
        </div>
        <form action="/profile_changing/" method="post">
            <div id="profile_forms">
                <input type="text" class="pr_forms" id='email'  value="{{email}}">
                <input type="text" class="pr_forms" id='username' value="{{username}}">
                <input type="text" class="pr_forms" id='password' value="*****">
                <input type="text" class="pr_forms" id='first_name' value="{{first_name}}">
                <input type="text" class="pr_forms" id='last_name' value="{{last_name}}">
        </div>
        </form>
    </div>
    <div id="own_dicts">
    <div class="m_table_container">
        <p class="m_subtitle">Own dictiories</p>
        <table class="m_table">
            <tr class="m_table_head"><th>Language</th><th>Name</th><th>Сount</th><th>Level</th><th>Rainting</th></tr>
            {%for dict in own_dicts%}
            <div class="m_table_bg">
            <tr class="m_table_content" id="table_content">
                <td>{{dict|dict:'lang_from'}}-{{dict|dict:'lang_to'}}</td>
            <td><a href="/finding/{{dict|dict:'name'}}/" class="lists" id="list{{list}}">{{dict|dict:'name'}}</a></td>
            <td>{{dict|dict:'count'}}</td>
            <td>{{dict|dict:'level'}}</td>
            <td>{{dict|dict:'raiting'}}/10</td>
            </tr>
            {%endfor%}
            </div>
        </table>
    </div>
    </div>
    <div id="followed_dicts">
        <div class="m_table_container">
        <p class="m_subtitle">Followed dictiories</p>
        <table class="m_table" id="followed_table">
            <tr class="m_table_head"><th>Language</th><th>Name</th><th>Сount</th><th>Level</th><th>Rainting</th></tr>
            {%for dict in followed_dicts%}
                <div class="m_table_bg">
                <tr class="m_table_content" id="table_content">
                <td>{{dict|dict:'lang_from'}}-{{dict|dict:'lang_to'}}</td>
                <td><a href="/finding/{{dict|dict:'name'}}/" class="lists" id="list{{dict|dict:'name'}}">{{dict|dict:'name'}}</a></td>
                <td>{{dict|dict:'count'}}</td>
                <td>{{dict|dict:'level'}}</td>
                <td>{{dict|dict:'raiting'}}/10</td>
                </tr>
            {%endfor%}
            </div>
        </table>
    </div>

    </div>
    
</div>
    
<script type="text/javascript" src="{%static 'users/js/profile.js'%}"></script>
</body>

{%endblock %}
