
.find_content{
    margin-top: 40px;
    display: flex;
    height: 80vh;
    flex-direction: column;
    align-items: center;
    position: relative;

}
.find_form input{
    margin: 0;
    margin-right: -3px;
}
.m_input{
    width: 300px;
}

