
#mainText {
    text-align: center;
    font-size: 25px;
}
.timer{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    justify-self: center;
}

#textarea{
    border: black 1px solid;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    font-size: 16;
    width: 90%;
}
#textarea::-ms-value{
    font-size: 20px;
}


#speed_text {
    visibility: hidden;
}
.btn{
    position: static;
    float: right;
    width: auto;
}