{%extends "base.html"%}
{%load static%} <!--Adding css-->
{%load custom_filters%}
{%block css_creating%}<link rel="stylesheet" href=#> {%endblock %}<!--Adding css-->>
{%block title%} Editing {%endblock %}
{%block h1%} Editing {%endblock %}

{%block content%} 
<div>
    <p class="m_subtitle">Here you can edit of the list: "{{list_name}}" </p>
    <form action="/update_saving/{{list_name}}/" method="post"> <!--range is a custom filter-->
        {% csrf_token %}
        <input class='m_input' type="text" name = "list_name" value = {{list_name}}>
        <button class="m_btn" type="button"><span id="add" class="material-symbols-outlined">add</span></button>
        <div id="words">
            {% for i in target_list %}
            <p>
                <input class='m_input' type="text" placeholder="your word" name="word_{{i}}" value="{{i}}">
                <input class='m_input' type="text" placeholder ="translation"name="trans_{{target_list|id_:i}}" value="{{target_list|id_:i}}">
                <button class='m_btn m_delete' id="remove" name="delete_{{i}}"><span class='material-symbols-outlined'>remove</span></button>
            </p>
            {% endfor %}
        </div>
        {{more_fields}} 
        <input type="submit" class='btn save' value="Save">
    </form>
    <button class='btn'id="delete">Delete</button>
</div>


<script type="text/javascript">
    $("#add").click(function() {
        let lenght = $("#words p").length;
        $("#words").append("<p>\n" +
            "                <input type=\"text\" placeholder=\"your word\" name=\"word_" + lenght +"\" value=\"\">\n" +
            "                <input type=\"text\" placeholder =\"translation\"name=\"trans_" + lenght +"\" value=\"\">\n" +
            "            </p>" );
    });

    $("#delete").click(function() {
        $("#words p:last-child").remove();
    });
</script>

{%endblock %}