#profile_info {
    display: flex;
    position: relative;
    background-color: white;
    /* left: 50%;
    transform: translateX(-50%); */
}

#profile_names,
#profile_forms,
#change_forms {
    display: flex;
    flex-direction: column;
}

.pr_name,
.pr_forms,
.pr_chan,
input {
    margin: 5px 10px;
}

.pr_chan {
    position: relative;
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}
#save,
#cancel {
    font-size: 17px;
    pointer-events: auto;
    margin-right: 15px;
}