{%extends "base.html"%}
{%load static%} <!--Adding css-->
{%load custom_filters%}
{%block css_creating%}<link rel="stylesheet" href=#> {%endblock %}<!--Adding css-->>
{%block title%} Registration {%endblock %}
{%block content%}
    <p>Fill all fields</p>

    <form action="/login/registration/" method="post">
        {% csrf_token %}
        <p style="color: red;">{{Error_message}}</p>
        <div class="form_names">
        <div id="username_name">Username:</div>
        <div id="email_name">Email:</div>
        <div id="password_name">Password:</div>
            </div>
        <div class="form_inputs">
            <p>Username: <input type="text" name="username" placeholder="your username"></p>
            <p>Email: <input type="email" name="email" placeholder="your email"></p>
            <p>Password: <input type="password" name="password" placeholder="your password A-z, 0-1"></p>
        </div>
        
        <button>Send</button>
    </form>
    
{%endblock %}