{%extends "base.html"%}
{%load static%} <!--Adding css-->
{%load custom_filters%}
{%block css_creating%}<link rel="stylesheet" href="{%static 'main_page/css/'%}"> {%endblock %}<!--Adding css-->>
{%block title%} Finding {%endblock %}
{%block h1%} Finding {%endblock %}
{%block content%} 

<p style="color: green;">{{result}}</p>
    <p style="color: red;">{{error_result}}</p>
    <div>
        <form action="/searching/" method="post">
            {% csrf_token %}
            <p class="m_text">Print the list's name which you wanna find</p>
            <input class="m_input" type="text" value="" name="searching">
            <input class="btn" type="submit" value="Find">
        </form>
        <p>{{search_result}}</p>
    </div>
    <div>
        <p>or choose your list from this list:</p>
        <ul>
            {%for list in all_lists%}
            <li ><a href="/finding/{{list}}/" class="lists" id="list{{list}}">{{list}}</a></li>
            {%endfor%}
        </ul>

{%endblock %}
