{%extends "base.html"%}
{%load static%} <!--Adding css-->
{%load custom_filters%}
{%block css_creating%}<link rel="stylesheet" href="{%static 'main_page/css/finding.css'%}"> {%endblock %}<!--Adding css-->>
{%block title%} Finding {%endblock %}
{%block h1%} Finding {%endblock %}
{%block content%} 
    <div class="find_content">
    <p style="color: green;">{{result}}</p>
    <p style="color: red;">{{error_result}}</p>
        <p class="m_subtitle">Dictionaries from users around the world</p>
        <form action="/searching/" method="post" class="find_form" >
            {% csrf_token %}
            <input class="m_input" type="text" value="" name="searching">
            <input class="btn" type="submit" value="Search">
        </form>
        <p>{{search_result}}</p>
    
    <div class="m_table_container">
        <p class="m_subtitle">Popular dictiories</p>
        <table class="m_table">
            <tr class="m_table_head"><th>Language</th><th>Name</th><th>Сount</th><th>Level</th><th>Rainting</th></tr>
            {%for dict in popular_dicts%}
                <div class="m_table_bg">
                <tr class="m_table_content">
                <td>{{dict|dict:'lang_from'}}-{{dict|dict:'lang_to'}}</td>
                <td><a href="/finding/{{dict|dict:'name'}}/" class="lists" id="list{{dict|dict:'name'}}">{{dict|dict:'name'}}</a></td>
                <td>{{dict|dict:'count'}}</td>
                <td>{{dict|dict:'level'}}</td>
                <td>{{dict|dict:'raiting'}}/10</td>
                </tr>
            {%endfor%}
            </div>
        </table>
    </div>  
    </div>

{%endblock %}
