
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Showing</title>
</head>
<body>
    <header>
        <div><h1>Target list</h1></div>
    </header>
    <p style="color: green;">{{Saving_Message}}</p>
    <div>
        <p>This is list "{{list_name}}"</p>
        <p>{{target_list}}</p>
    </div>
    <footer>
        <div>What do you wanna do</div>
        <nav>
            <a href="/repeating/{{list_name}}">Repeat</a>
            <a href="/editing/{{list_name}}">Edit</a>
            <a href="/delete_confirming/{{list_name}}/">Delete</a>
        </nav>
    </footer>
</body>
</html>