
{%extends "base.html"%}
{%load static%} <!--Adding css-->
{%load custom_filters%}
{%block css_creating%}<link rel="stylesheet" href="{%static 'main_page/css/target_dict.css'%}"> {%endblock %}<!--Adding css-->>
{%block title%} Finding {%endblock %}
{%block h1%} Target dict {%endblock %}
{%block content%} 
    <div class="dict_container">
        <div class="dict_item dict_name m_subtitle" >Dictionary {{dict_name}}</div>
        <div class="dict_item dict_info">
            <div class="dict_icons">
            <div class="lvl m_text">
                <span class="material-symbols-outlined">signal_cellular_alt</span>
                {{lang_lvl}}
            </div>
            <div class="count m_text"><span class="material-symbols-outlined">title</span>{{target_dict|length}}</div>
        </div>
        <div class="owner_change">
            <div class="owner m_text"><span class="symb">@</span>{{owner}}</div>
            {%if own_dict%}
                 <a id="owned" class="btn" href="#">Owned</a>
            {%elif followed%}
            <a id='followed' class="btn" href="/removing_dict/{{dict_name}}/">Followed</a>
            {% else %}
            <a class="btn follow" href="/adding_dict/{{dict_name}}/">Follow</a>
            {% endif %}
        </div>
        </div>
        {%if own_dict or followed%}
        <div class="dict_item learn" id="test2"><a class="btn" href="/repeating/{{dict_name}}">Repeat</a></div>
        {% endif %}
    <table class="dict_item dict_table" id="test">
        <tr class="dict_head"><th>Word</th><th>Translation</th></tr>
        {%for key, value in target_dict.items%}
        <tr class="dict_content"><td>{{key}}</td><td>{{value}}</td></tr>
        {%endfor%}
    </table>
    </div>
    {%if own_dict%}
    <div class="change_btn">
        <a class="btn edit_btn" href="/editing/{{dict_name}}">Edit</a>
        <a class="btn del_btn" href="/delete_confirming/{{dict_name}}/">Delete</a>
    </div>
    {% endif %}
    
        
<script type="text/javascript" src="{%static 'main_page/js/target_dict.js'%}"></script>
{%endblock %}
        
